@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Rubik", sans-serif;
  background-image: url(https://images.unsplash.com/photo-1509358271058-acd22cc93898?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c3BpY2VzfGVufDB8fDB8fHww);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.login-container,
.register-container {
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
font-size: 30px;
  font-style: italic;
  color: #ffffff;
}

